*{
    margin: 0;
    padding: 0;
}
body{
    text-align: center;
}
.div{
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
}
.div1{
    width: auto;
    background-color: rgb(144, 209, 247);
    height: 60px;
}
.div2{
    margin-left: auto;
    margin-right: auto;
    width: 1200px;
    height: 60px;
    text-align: center;
}
.div3{
    width: 80px;
    line-height: 60px;
    background-color: rgb(99, 176, 221);
    text-align: center;
}
.p1{
    color: white;
}
.div4{
    background-color: darkturquoise;
    text-align: center
}

